@import 'bootstrap';
@import "font-awesome";

h1, h2, h3 {
	// background-clip: text;
  	// -webkit-background-clip: text;
  	// color: transparent;
    // background-size: cover;
    // background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ46hnwMy21wvNRoWy0gkKFsnyLwoXLnKh3kcjAD8sMgKlofR0oSDfHxoBC86x-76tdWbE&usqp=CAU');
	font-family: 'Open-Sans', sans-serif;
}

.nav-link {
	color: grey;
}

.navbar-toggler {
	color: darkgray;
	border: 1px solid;
	&:hover {
		opacity: 0.75;
	}
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
	color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
	color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
	background-color: #cbbcb1;
}

.mask-custom {
	backdrop-filter: blur(15px);
	background-color: rgba(255,255,255,.2);
	border-radius: 3em;
	border: 2px solid rgba(255,255,255,.1);
	background-clip: padding-box;
	box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.navbar-brand {
	font-size: 1.75rem;
	letter-spacing: 2px;
	font-family: 'Open-Sans', sans-serif;
	font-weight: 800;
	&:hover{
		opacity: 0.75;
	}
}

.fa-brands {
	color: darkgray;
	&:hover {
		opacity: 0.75;
	}
}

.navbar-expand-lg .navbar-nav .nav-link {
	color: darkgray;
	&:hover {
		opacity: 0.75;
	}
}

.cover {
	position: relative;
	height: calc(100vh - 62px);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: -5px;
}

.bg-color .row .card {
	width: 400px;
	min-height: 250px;
	background: rgba( 255, 255, 255, 0.15 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 18px );
	-webkit-backdrop-filter: blur( 18px );
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	border-radius: 1rem;
	padding: 1.5rem;
	z-index: 10;
	color: snow;
	margin-top: 20%;
}

.bg-color {
	background-image: url('https://dl.dropboxusercontent.com/s/mpmu0gjtxv2x3fs/Webp.net-resizeimage%20%281%29.jpg?raw=1');
	height: calc(100vh - 67px);
	margin-top: -5px;
}